{{ if eq .chezmoi.os "linux" }}
{{ end }} 


{{ if eq .chezmoi.os "windows" }}
source="{{- .chezmoi.sourceDir -}}/dot_config/nvim"
target="{{- .chezmoi.homeDir -}}/AppData/local/nvim"
if [ ! -d "$target" ]; then
	ln -s "$source" "$target"
fi
{{ end }}
